.detail{
    flex:1;
    color: white;
    
    .user{
        padding: 16px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-bottom: 1px solid #dddddd35;

        img{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .info{
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        .option{

            .title{
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 15px;

                img{
                    width: 30px;
                    height: 30px;
                    background-color: rgba(17,25,40,0.3) ;
                    padding: 10px;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        }
 
        .photos{
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-top: 6px;
            
            .photoItem{
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                img{
                    width: 25px;
                    height: 25px;
                    border-radius: 5px;
                    object-fit: cover;
                }

                .photoDetail{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    
                    span{
                        font-size: 14px;
                        color: lighgray;
                        font-weight: 300;;
                    }
                }

                .icon{
                    width: 30px;
                    height: 30px;
                    background-color: rgba(17,25,40,0.3);
                    padding: 10px;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }

        }
        button{
            padding: 10px;
            background-color: rgba(231, 74, 105, 0.553);
            color: white;
            border:none;
            cursor:pointer;
            border-radius: 5px;
       
            &:hover{
                background-color: rgba(231, 74, 105, 0.953);
            }

            &.logout{
                padding: 10px;
                background-color: #1a73e8;
            }
        }

    }
}